* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary1: #0c4783;
  --primary2: #fcc85a;
  --primary3: #71a2dc;
  --text-gray: #8d8f95;
}

.color-primary1 {
  color: var(--primary1);
}

.color-primary2 {
  color: var(--primary2);
}

.color-primary3 {
  color: var(--primary3);
}

.color-gray {
  color: var(--text-gray);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a.active {
  color: var(--primary3) !important;
}

p,
ul {
  margin-bottom: 0 !important;
}

.main-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mka-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mka-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 100% !important;
}

button[type="submit"] {
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: transparent;
  color: var(--primary1);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
