header {
  overflow: hidden;
}

.sub-header {
  font-family: "Somar";
}

.sub-header {
  background-color: #ebf1fa;
  height: 80px;
}

.con-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.con-links a img {
    width: 18px;
    height: 18px;
}

.con-links a p {
  font-size: 14px;
  transition: 0.4s;
}

.con-links a span {
  font-size: 14px;
}

.con-links a:hover p {
  color: var(--primary1);
}

.header-soc-links ul {
  gap: 10px;
}

.header-soc-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 17px;
  color: var(--primary3);
  font-weight: 600;
  transition: 0.4s;
}

.header-soc-links li a span {
  padding-top: 5px;
}

.header-soc-links li a i {
  font-weight: 500;
  font-size: 17px;
}

.con-links ul {
  gap: 10px;
}

.header-soc-links li a:hover {
  background-color: var(--primary1);
  color: #fff;
  transform: rotate(360deg);
}

.sub-header-two {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  width: 200px;
  height: 55px;
  cursor: pointer;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.logo a img {
  width: 100%;
  height: 100%;
}

.sub-header-two ul li a {
  color: var(--primary1);
  font-size: 16px;
  font-family: "font_light";
  transition: 0.4s;
  position: relative;
}

.sub-header-two ul li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--primary3);
  transition: 0.3s;
}

.sub-header-two ul li a:hover {
  color: var(--primary3);
}

.sub-header-two ul li a:hover::before {
  width: 100%;
}

.sub-header-two ul {
  gap: 50px;
}

.main-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary3);
  color: #fff;
  width: 200px;
  height: 60px;
  transition: 0.4s;
}

.main-btn a p {
  transition: 0.3s;
}

.main-btn a:hover p {
  animation: swing 1s infinite;
}

.main-btn.more-read a {
  background-color: var(--primary2);
}

.main-btn.more-read a:hover {
  background-color: var(--primary3);
}

.main-btn a:hover {
  background-color: var(--primary1);
}

.hero {
  background-color: var(--primary1);
  color: #fff;
  height: 725px;
  position: relative;
}

.hero-img {
  height: 100%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  position: relative;
  left: -12px;
  object-fit: cover;
}

.text-hero {
  display: flex;
  align-items: center;
}

.text-hero .text {
  margin-right: 50px;
}

.text-hero .text .text-header p {
  font-size: 16px;
  font-family: "DINArabic";
  font-weight: 500;
}

.text-hero .text .text-header {
  margin-bottom: 20px;
  margin-top: 50px;
}

.text-hero .text h3 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.7;
  width: 425px;
}

.text-hero .text p.desc {
  font-size: 16px;
  font-family: "Somar";
  line-height: 1.7;
  width: 425px;
  font-weight: 200;
}

.text-hero .text .more-read {
  margin-top: 20px;
}

.abs-img img:nth-child(1) {
  position: absolute;
  top: 0;
  right: 43%;
  width: 450px;
  height: 370px;
  z-index: 1;
}

.abs-img img:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 51%;
  width: 310px;
  height: 667px;
  transform: rotate(-1deg);
}

.abs-img img:nth-child(3) {
  position: absolute;
  bottom: 0px;
  right: 43%;
  height: 497px;
  transform: rotate(0deg);
  z-index: 0;
}

.img-setting {
  position: absolute;
  right: 0;
  top: 0;
  height: 225px;
  width: 490px;
}

.img-setting img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-hero {
  background-color: var(--primary1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 260px;
  overflow: hidden;
  flex-direction: column;
}

.custom-hero h2 {
  z-index: 1;
}

.custom-hero img:first-child {
  position: absolute;
  top: 0;
  right: 0;
}

.custom-hero img.ctm-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 330px;
}

.custom-hero-links {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #07417c;
  padding: 10px;
  border-radius: 5px;
  width: 240px;
  height: 60px;
  justify-content: center;
}

.custom-hero-links a {
  color: #fff;
  font-size: 20px;
  font-family: "font-light";
  transition: 0.4s;
}

.custom-hero-links a:hover {
  color: var(--primary2);
}

.custom-hero-links p {
  font-size: 20px;
  font-family: "font-light";
}
