@media (max-width: 1780px) {
  .abs-img img:nth-child(1) {
    right: 40%;
  }

  .abs-img img:nth-child(3) {
    right: 40%;
  }

  .abs-img img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 47%;
    width: 346px;
    height: 667px;
    transform: rotate(-1deg);
  }
}

@media (max-width: 1440px) {
  .abs-img img:nth-child(1) {
    position: absolute;
    top: 0;
    right: 40%;
    width: 450px;
    height: 370px;
    z-index: 1;
  }

  .abs-img img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 51%;
    width: 270px;
    height: 614px;
    transform: rotate(-1deg);
  }

  .abs-img img:nth-child(3) {
    position: absolute;
    bottom: -4px;
    right: 39.99%;
    width: 430px;
    height: 496px;
    transform: rotate(-1deg);
    z-index: 0;
  }
}

@media (max-width: 1400px) {
  .con-links a p {
    font-size: 16px;
  }

  .con-links a span {
    font-size: 14px;
  }

  .abs-img img:nth-child(1) {
    right: 38%;
  }

  .abs-img img:nth-child(3) {
    bottom: 0px;
    right: 38%;
    width: 431px;
    height: 494px;
  }

  .abs-img img:nth-child(2) {
    right: 50%;
    height: 616px;
  }
}

@media (max-width: 1200px) {
  .con-links,
  .main-links {
    display: none;
  }

  .abs-img {
    display: none;
  }

  .res-menu {
    display: flex;
  }

  .text-hero {
    height: 50%;
  }

  .hero-img {
    height: 40%;
    position: relative;
    bottom: -35px;
  }

  .hero-img img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -1px;
  }

  .text-hero {
    height: 50%;
    justify-content: center;
    text-align: center;
  }

  .main-btn.more-read a {
    margin-left: auto;
    margin-right: auto;
  }

  .text-hero .text {
    margin-right: 0;
  }

  section.our-services .row {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* 
  .abs-img img {
    display: none;
  } */

  .abs-img img:nth-child(1) {
    right: 0;
    bottom: 0;
    top: auto;
    height: 290px;
  }

  .abs-img img:nth-child(3) {
    bottom: -29px;
    height: 320px;
    transform: rotate(8deg);
    right: 260px;
  }
}

@media (max-width: 1024px) {
  .services-img {
    width: 100%;
  }

  .about-img-container .img-desc:nth-child(4) {
    height: 160px;
  }
}

@media (max-width: 992px) {
  .main-container {
    width: 95%;
  }

  section.about-company {
    margin-top: 50px;
  }
  .about-img-container .img-desc:nth-child(1) {
    top: 0;
  }

  .about-img-container .img-desc:nth-child(3) {
    top: -60px;
  }

  .about-img-container .img-desc:nth-child(2) {
    height: 460px;
  }

  .services-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .services-img {
    width: 400px;
  }

  section.our-services .row:nth-child(3) {
    flex-direction: column-reverse;
  }

  .contactus form button {
    margin-bottom: 50px;
  }

  section.about-cards .col-12.col-md-6.col-lg-4 {
    margin-bottom: 20px;
  }

  .barnches-cards-container .card {
    margin-bottom: 20px;
  }
  .main-map {
    height: 400px;
  }

  .footer-links {
    margin-bottom: 20px;
  }

  .cl-mb-sm {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .custom-hero img.ctm-img {
    left: -40px;
  }

  section.about-cards {
    margin-top: 50px;
  }

  .about-img-container .img-desc:nth-child(4) {
    height: 130px;
    padding: 10px 10px;
  }

  .ctm-f-reverse {
    flex-direction: column-reverse;
  }

  section.our-services .row {
    margin-bottom: 50px;
  }

  section.mtt-margin {
    margin-top: 50px;
  }

  .custom-hero img:first-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
  }

  .benafites {
    margin-top: 50px;
  }

  .custom-hero-links {
    z-index: 999;
  }

  .main-map {
    height: 250px;
  }

  .benafites-cards .row .col-12.col-md-6.col-lg-4 {
    margin-bottom: 20px;
  }

  .contactus {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
@media (max-width: 520px) {
  .img-setting {
    width: 100%;
  }

  .logo {
    width: 150px;
  }

  .main-btn a {
    width: 150px;
    font-size: 14px;
  }

  .text-hero .text h3 {
    font-size: 20px;
    width: 100%;
  }

  .text-hero .text p.desc {
    width: 100%;
  }

  .about-img-container .img-desc:nth-child(1) {
    height: 240px;
  }

  .about-img-container .img-desc:nth-child(2) {
    height: 300px;
  }

  .about-img-container {
    gap: 5px;
  }

  .about-img-container .img-desc p.incremental-num {
    font-size: 25px;
  }

  section.our-services h2 {
    font-size: 25px;
  }

  section.our-services p {
    font-size: 17px;
  }

  .services-img {
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
  }

  .barnches .mka-border:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
    background-color: var(--primary2);
    top: auto;
  }

  .section-header p {
    font-size: 15px;
  }

  .section-header img {
    width: 90%;
  }

  .contactus ul li a .img {
    width: 30px;
    height: 30px;
  }

  .contactus ul li a .img img {
    width: 15px;
    height: 15px;
  }

  .contactus ul li a p {
    font-size: 14px;
  }

  .logo-footer {
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  footer .desc {
    width: 100%;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-contact a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .about-img-container .img-desc:nth-child(4) {
    padding: 5px;
  }

  .main-btn a {
    height: 45px;
  }

  .main-btn.more-read a {
    height: 60px;
  }

  .about-img-container .img-desc p {
    font-size: 15px;
    text-align: center;
  }

  .about-img-container {
    grid-template-columns: 1fr;
  }

  .img-desc {
    top: 0 !important;
  }

  .img-desc img {
    object-fit: cover;
  }

  .about-img-container .img-desc:nth-child(1),
  .about-img-container .img-desc:nth-child(2),
  .about-img-container .img-desc:nth-child(3) {
    height: 200px;
  }

  .numeric {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .abt-header-txt {
    font-size: 25px;
    margin-top: 30px;
  }

  .about-company-desc h3 {
    margin-top: 0;
    font-size: 18px;
  }

  .about-company-desc p {
    font-size: 18px;
  }

  .about-company-desc ul li p {
    font-size: 17px;
  }

  .main-btn a {
    width: 120px;
    font-size: 11px;
  }

  .main-btn.more-read a {
    width: 100%;
    font-size: 16px;
  }

  .custom-hero img:first-child {
    width: 230px;
  }

  section.our-services {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
